/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */
 @import url(http://fonts.googleapis.com/css?family=Coming+Soon|Roboto|Open+Sans:300,700&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
#nav-col {
	background-color: #555;
}

#nav-col h1 {
	margin-top: 0;
	padding: 10px 10px 10px 10px;
	font-family: 'Roboto', sans-serif;
}

#stickies_col {
	background-color: #888;
}
