/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */
@import url(http://fonts.googleapis.com/css?family=Coming+Soon|Roboto|Open+Sans:300italic,300,700&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

@media (min-width: 384px) and (max-width: 768px) {
	.sticky {
		width: 250px!important;
		height: 250px!important;
	}
}
.container {
	width: 100%!important;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
#nav-col {
	background-color: #555; 
	font-family: 'Roboto', sans-serif; 
	padding: 20px 15px; 
	border-top: 5px solid #444; }

#nav-col h1 {
	margin-top: 0; 
	margin-bottom: 0; 
	padding: 10px 10px 10px 10px; 
	display: inline; 
	color: #FFF 
} 
#nav-col h2 { 
	background-color: #666; 
	padding: 5px 8px 2px 8px; border-radius: 3px; 
	border-top: 3px solid #1485CC; 
	margin-left: 10px; 
	color: #333; 
	display: inline; 
} 
#nav-col h3 { 
	color: #666; 
	margin: 10px 0 0 10px; 
	padding: 0; 
} 
#nav-col button { 
	display: inline; 
	float: right;
}

#stickies_col {
	background: url('/images/back_texture.jpg') repeat;
	height: 100%;
	min-height: 1000px;
	display: block;
	padding-top: 40px;
}

.row {
	margin-bottom: -50px;
}

html, body {
	height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.sticky {
	color: #000F55;
}
.sticky h1 { 
	font-family:'Coming Soon', cursive; 
	font-size: 25pt;
}

.sticky p { 
	font-family: 'Coming Soon', cursive; 
}

.sticky p:last-child { 
	font-size: 10px; 
}

/*
.one { 
	background: url(/images/ ) repeat; 
} 
.two { 
	background: url(/images/ ) repeat; 
} 
.three { 
	background: url(/images/ ) repeat; 
} 
.four { 
	background: url(/images/ ) repeat; 
}
*/

.sticky {
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #F4F39E;
  border-color: #DEE184;
  text-align: center;
  /*margin: 2.5em 0px;*/
  margin-bottom: 40px;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.9);
  font-family: Chalkboard, 'Comic Sans';
  /*width: 300px;*/
  height: 300px;

  margin-left: auto;
  margin-right: auto;
}
.sticky.taped:after {
  display: block;
  content: "";
  position: absolute; 
  width: 40px;
  height: 213px;
  top: -21px;
  left: 45%;    
  background: transparent url('/images/pin.png') 0 0 no-repeat;
  background-size: 100%;
}
.sticky p {
	font-size: 17pt;
}


.addButton {
	margin-top: 5px;
	margin-left: 70%;
}

.help-block {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 0.8em;
}

.stickyBg label { 
	margin: 0 15px; 
	border-radius: 0px!important; 
	width: 25px; 
	height: 25px; 
} 
.stickyBg .btn:active, .btn.active { 
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.5)!important;
}

.option1 { 
	background-image: url("/images/1.png")!important; 
} 

.option2 { 
	background-image: url("/images/2.png")!important; 
} 

.option3 { 
	background-image: url("/images/3.png")!important; 
} 
.option4 { 
	background-image: url("/images/4.png")!important; 
}

#btnSubmit {
	padding: 20px 45px;
    font-size: 25px;
    line-height: normal;

    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

/*.modal-content {
	background: url("/images/1.png")!important;
}*/

#inputTitle {
	background: transparent;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}

#inputTextArea {
	background: transparent;
	box-shadow: none;
	border-color: #ccc;
}

/* STICKY FOLDED CORNER 
.sticky:before { 
content: ""; position: absolute; top: 0; right: 0; border-width: 0 16px 16px 0; border-style: solid; border-color: #f4f3ab transparent transparent transparent;

-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2); box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2); 
}*/
