<!DOCTYPE html>
<html>
<head>
	<title>HoshisIsland</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12" id="nav-col">
				<h1>This is header!</h1></div>
			</div>
		<div class="row">
			<div class="col-md-12" id="stickies_col">Here will be the stickies</div>
		</div>
	</div>

<%= yield %>

</body>
</html>
