<!DOCTYPE html>
<html>
<head>
	<title>HoshisIsland</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

</head>
<body>
	<div class="container fill">
		<div class="row">
			<div class="col-md-12" id="nav-col">
				<h1>This is header!</h1>
			</div>
			<div class="col-md-12" id="stickies_col">
				<%= yield %>
			</div>
		</div>
	</div>
    <div>
    <from id="sticky-form">
      <label>
        Title:
        <input type="time" id="title" name="title" data-bind="value:title" />
      </label>
      <label>
        Note:
        <textarea id="note" name="note" data-bind="value:note"></textarea>
      </label>
      <input type="hidden" id="latitude" name="latitude"  data-bind="value:location.latitude" />
      <input type="hidden" id="longitude" name="longitude" data-bind="value:location.longitude" />
      <label>
        Color:
        <select id="color" name="color" data-bind="value:color">
          <option value="pink">Pink</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
          <option value="orange">Orange</option>
          <option value="blue">Blue</option>
        </select>
      </label>
      <label>
        Visible distance:
        <input type="text" id="radius" name="radius" data-bind="value:radius" />
      </label>
      <input type="submit" />
    </from>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
